body{
    padding:0;
    margin:0;
    background-color: aliceblue;
}

.navbar-fixed{
    margin-bottom: 50px;
}

#dams-list{
    width: 80%;
    margin: 0px auto;
    margin-bottom:50px;
}

#submitButtonContainer {
    margin-top: 20px;
}

#quizContainer {
    display: none;
}

#errorContainer {
    display: none;
}

.percentages{
    display:block;
}

.custom-container{
    width:80%;
    margin: 0 auto;
}

.image-container{
    float:right;
}

.image-container img{
    width: 100%;
    padding:10px;
}

.details{
    float:left;
}


.secondary-content-fix, .progress{
    width:100px;
    height:10px;
}

.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}

@media only screen and (max-width: 440px) {
    nav {
        height: 100px;
        line-height: 40px;
    }
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #1565c0;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #1565c0;
}

label {
    color: #333;
}

#wiki-page{
    right:100px;
}

#sourceLabel {
    margin-right: 7px;
}

/* Scoreboard CSS */
table.highlight tbody tr:hover {
    background-color: #bbdefb !important;
}

/* Inflow Chart CSS */

#inflow-chart {
    width: 90%;
    margin: 0 auto;
    min-height: 500px;
    margin-bottom: 100px;
}

.stat-box {
    margin: 0px;
    padding: 0;
    display: inline-block;
    background-color: rgba(0, 110, 255, 0.815);
    height: 100%;
    width: 7.4%;
    border: solid 0.1px white;
    text-align: center;
    overflow: hidden;
    font-size: 10px;
}

.stat-box-active:hover{
    border-radius: 100px;
    transition: all 1s;
}

.year-row {
    height: 10%;
    width: 100%;
}

.point-one {
    background-color: rgb(188, 225, 255);
}

.point-two {
    background-color: rgb(160, 212, 255);
}

.point-three {
    background-color: rgb(137, 202, 255);
}

.point-four {
    background-color: rgb(118, 193, 255);
}

.point-five {
    background-color: rgb(100, 182, 255);
}

.point-six {
    background-color: rgb(81, 177, 255);
}

.point-seven {
    background-color: rgb(67, 171, 255);
}

.point-eight {
    background-color: rgb(49, 162, 255);
}

.point-nine {
    background-color: rgb(23, 151, 255);
}

.one {
    background-color: rgb(0, 132, 255);
}