body{
    padding:0;
    margin:0;
    background-color: aliceblue;
}

.navbar-fixed{
    margin-bottom: 50px;
}

#dams-list{
    width: 80%;
    margin: 0px auto;
    margin-bottom:50px;
}

.custom-container{
    width:80%;
    margin: 0 auto;
}

.image-container{
    float:right;
}

.image-container img{
    width: 100%;
    padding:10px;
}

.details{
    float:left;
}

.secondary-content, .progress{
    width:100px;
    height:10px;
}

.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}

@media only screen and (max-width: 350px) {
    nav {
        height: 100px;
        line-height: 40px;
    }
}