<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~
  ~ THE WORK (AS DEFINED BELOW) IS PROVIDED UNDER THE TERMS OF THIS CREATIVE COMMONS PUBLIC LICENSE ("CCPL" OR
  ~  "LICENSE"). THE WORK IS PROTECTED BY COPYRIGHT AND/OR OTHER APPLICABLE LAW. ANY USE OF THE WORK OTHER
  ~   THAN AS AUTHORIZED UNDER THIS LICENSE OR COPYRIGHT LAW IS PROHIBITED.
  ~
  ~ BY EXERCISING ANY RIGHTS TO THE WORK PROVIDED HERE, YOU ACCEPT AND AGREE TO BE BOUND BY THE TERMS OF THIS
  ~  LICENSE. TO THE EXTENT THIS LICENSE MAY BE CONSIDERED TO BE A CONTRACT, THE LICENSOR GRANTS YOU THE RIGHTS
  ~   CONTAINED HERE IN CONSIDERATION OF YOUR ACCEPTANCE OF SUCH TERMS AND CONDITIONS.
  ~
  ~ The complete license is available at https://creativecommons.org/licenses/by/3.0/legalcode
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--Grab servlet-->
    <servlet>
        <servlet-name>GrabServlet</servlet-name>
        <servlet-class>io.github.nearchos.water.sync.GrabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabServlet</servlet-name>
        <url-pattern>/sync/grab</url-pattern>
    </servlet-mapping>
    <!--End of Grab servlet-->

    <!--API calls-->
    <servlet>
        <servlet-name>GetDayStatisticsServlet</servlet-name>
        <servlet-class>io.github.nearchos.water.api.GetDayStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDayStatisticsServlet</servlet-name>
        <url-pattern>/api/date-statistics</url-pattern>
        <url-pattern>/api/inflow</url-pattern>
        <url-pattern>/api/storage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDamsServlet</servlet-name>
        <servlet-class>io.github.nearchos.water.api.GetDamsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDamsServlet</servlet-name>
        <url-pattern>/api/dams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPercentageServlet</servlet-name>
        <servlet-class>io.github.nearchos.water.api.GetPercentageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPercentageServlet</servlet-name>
        <url-pattern>/api/percentages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTimeseriesServlet</servlet-name>
        <servlet-class>io.github.nearchos.water.api.GetTimeseriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTimeseriesServlet</servlet-name>
        <url-pattern>/api/timeseries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetMeasureUnitsServlet</servlet-name>
        <servlet-class>io.github.nearchos.water.api.GetMeasureUnitsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMeasureUnitsServlet</servlet-name>
        <url-pattern>/api/measure-units</url-pattern>
    </servlet-mapping>

    <!--End of API calls-->

    <!--Pages-->
    <servlet>
        <servlet-name>TimeseriesJSP</servlet-name>
        <jsp-file>/graphs/timeseries.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeseriesJSP</servlet-name>
        <url-pattern>/graphs/timeseries</url-pattern>
    </servlet-mapping>
    <!--End of Pages-->

    <!--Security constraints-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cron</web-resource-name>
            <url-pattern>/sync/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <!--End of Security constraints-->

</web-app>